################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/obj
/HelloWorld/obj
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15/Server/sqlite3
/.vs/HelloWorld/v15/Server/sqlite3
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
/.vs/HelloWorld/v15
